Source: wzdftpd
Section: net
Priority: optional
Maintainer: Pierre Chifflier <chifflier@cpe.fr>
Build-Depends: debhelper (>= 4.0.0), libssl-dev, zlib1g-dev, tcl8.4-dev, libpam0g-dev
Standards-Version: 3.6.0

Package: wzdftpd
Architecture: any
Depends: ${shlibs:Depends}
Provides: ftp-server
Conflicts: ftp-server
Suggests: tcl8.4, wzdftpd-doc
Description: A portable, modular, efficient and not user-friendly ftp server
 wzdftpd is designed to run in user-mode, and to be entirely configurable using
 SITE commands (no gui !). It works on linux/win32 (use winsock for best perfs),
 supports SSL, and is multithreaded.
 .
 Extensions can be written using modules or externals scripts.
 Features are: unix-like permissions+acls, virtual users/groups, security,
 speed, bandwith limitation (user,group,global), group admins, per command
 authorizations, ratio, etc.
 .
 Virtual dirs/files can be defined, with restrictions on users/groups/flags.
 Users can belong to several groups, allowing to define group properties.
 wzdftpd is distributed under the terms of the GPL.

Package: wzdftpd-back-pam
Architecture: any
Depends: ${shlibs:Depends}, wzdftpd (= ${Source-Version})
Description: A portable, modular, efficient and not user-friendly ftp server (pam backend)
 wzdftpd is designed to run in user-mode, and to be entirely configurable using
 SITE commands (no gui !). It works on linux/win32 (use winsock for best perfs),
 supports SSL, and is multithreaded.
 .
 Extensions can be written using modules or externals scripts.
 Features are: unix-like permissions+acls, virtual users/groups, security,
 speed, bandwith limitation (user,group,global), group admins, per command
 authorizations, ratio, etc.
 .
 Virtual dirs/files can be defined, with restrictions on users/groups/flags.
 Users can belong to several groups, allowing to define group properties.
 wzdftpd is distributed under the terms of the GPL.
 .
 This package provides the pam backend.

Package: wzdftpd-back-mysql
Architecture: any
Depends: ${shlibs:Depends}, wzdftpd (= ${Source-Version})
Suggests: mysql-server
Description: A portable, modular, efficient and not user-friendly ftp server (Mysql backend)
 wzdftpd is designed to run in user-mode, and to be entirely configurable using
 SITE commands (no gui !). It works on linux/win32 (use winsock for best perfs),
 supports SSL, and is multithreaded.
 .
 Extensions can be written using modules or externals scripts.
 Features are: unix-like permissions+acls, virtual users/groups, security,
 speed, bandwith limitation (user,group,global), group admins, per command
 authorizations, ratio, etc.
 .
 Virtual dirs/files can be defined, with restrictions on users/groups/flags.
 Users can belong to several groups, allowing to define group properties.
 wzdftpd is distributed under the terms of the GPL.
 .
 This package provides the Mysql backend.

Package: wzdftpd-mod-tcl
Architecture: any
Depends: ${shlibs:Depends}, wzdftpd (= ${Source-Version})
Suggests: tcl8.4
Description: A portable, modular, efficient and not user-friendly ftp server (TCL module)
 wzdftpd is designed to run in user-mode, and to be entirely configurable using
 SITE commands (no gui !). It works on linux/win32 (use winsock for best perfs),
 supports SSL, and is multithreaded.
 .
 Extensions can be written using modules or externals scripts.
 Features are: unix-like permissions+acls, virtual users/groups, security,
 speed, bandwith limitation (user,group,global), group admins, per command
 authorizations, ratio, etc.
 .
 Virtual dirs/files can be defined, with restrictions on users/groups/flags.
 Users can belong to several groups, allowing to define group properties.
 wzdftpd is distributed under the terms of the GPL.
 .
 This package provides the TCL module.

Package: wzdftpd-doc
Architecture: all
Suggests: wzdftpd
Section: doc
Description: A portable, modular, efficient and not user-friendly ftp server (Documentation)
 wzdftpd is designed to run in user-mode, and to be entirely configurable using
 SITE commands (no gui !). It works on linux/win32 (use winsock for best perfs),
 supports SSL, and is multithreaded.
 .
 Extensions can be written using modules or externals scripts.
 Features are: unix-like permissions+acls, virtual users/groups, security,
 speed, bandwith limitation (user,group,global), group admins, per command
 authorizations, ratio, etc.
 .
 Virtual dirs/files can be defined, with restrictions on users/groups/flags.
 Users can belong to several groups, allowing to define group properties.
 wzdftpd is distributed under the terms of the GPL.

