Source: wzdftpd
Section: net
Priority: optional
Maintainer: pollux <pollux@wzdftpd.net>
Build-Depends: debhelper (>> 4.0.0), libssl-dev
Standards-Version: 3.5.8

Package: wzdftpd-notls
Architecture: any
Depends: netbase (>= 2.0), ${shlibs:Depends}
Conflicts: wzdftpd-tls
Replaces: wzdftpd-tls
Provides: ftp-server, wzdftpd
Description: A portable, modular, efficient and not user-friendly ftp server
 wzdftpd is designed to run in user-mode, and to be entirely configurable using
 SITE commands (no gui !). It works on linux/win32 (use winsock for best perfs),
 supports SSL, and is multithreaded.
 Extensions can be written using modules or externals scripts.
 Features are: unix-like permissions+acls, virtual users/groups, security,
 speed, bandwith limitation (user,group,global), group admins, per command
 authorizations, ratio, etc.
 Virtual dirs/files can be defined, with restrictions on users/groups/flags.
 Users can belong to several groups, allowing to define group properties.
 wzdftpd is distributed under the terms of the GPL.
 This version does not provide any SSL function.

Package: wzdftpd-tls
Architecture: any
Depends: netbase (>= 2.0), ${shlibs:Depends}, libssl0.9.7 | libssl0.9.6
Conflicts: wzdftpd-notls
Replaces: wzdftpd-notls
Provides: ftp-server, wzdftpd
Description: A portable, modular, efficient and not user-friendly ftp server
 wzdftpd is designed to run in user-mode, and to be entirely configurable using
 SITE commands (no gui !). It works on linux/win32 (use winsock for best perfs),
 supports SSL, and is multithreaded.
 Extensions can be written using modules or externals scripts.
 Features are: unix-like permissions+acls, virtual users/groups, security,
 speed, bandwith limitation (user,group,global), group admins, per command
 authorizations, ratio, etc.
 Virtual dirs/files can be defined, with restrictions on users/groups/flags.
 Users can belong to several groups, allowing to define group properties.
 wzdftpd is distributed under the terms of the GPL.

Package: wzdftpd-tools
Architecture: any
Depends: netbase (>= 2.0), ${shlibs:Depends}, wzdftpd-tls (= ${Source-Version}) | wzdftpd-notls (= ${Source-Version})
Description: Tools for wzdftpd
 This is a set of tools for wzdftpd (A portable, modular, efficient and not
 user-friendly ftp server).

Package: wzdftpd-dev
Architecture: any
Depends: ${shlibs:Depends}, libc6-dev, wzdftpd-tls (= ${Source-Version}) | wzdftpd-notls (= ${Source-Version})
Description: Tools for wzdftpd
 wedftpd is a portable, modular, efficient and not user-friendly ftp
 server.
 This package contains the header files and libraries for developing
 with wzdftpd.


