Source: wzdftpd
Section: net
Priority: optional
Maintainer: Pierre Chifflier <chifflier@cpe.fr>
Build-Depends: debhelper (>= 4.1.16), libgnutls-dev | libssl-dev, zlib1g-dev, tcl8.4-dev, libperl-dev, libpam0g-dev, libmysqlclient15-dev | libmysqlclient14-dev, libpq-dev, flex, docbook-utils, dpatch, libavahi-client-dev (>= 0.6.0)
Standards-Version: 3.7.2

Package: wzdftpd
Architecture: any
Depends: ${shlibs:Depends}, ucf, debconf (>= 0.2.26) | debconf-2.0, po-debconf
Provides: ftp-server
Conflicts: ftp-server
Description: A portable, modular, small and efficient ftp server
 wzdftpd is designed to be run as root or non-root, It supports IPv6, SSL, and
 is multithreaded. Server is fully configurable online using SITE commands, and
 implements the lastest RFC extensions to FTP protocol.
 .
 Features are: flexible user management, acls, virtual users/groups, security,
 speed, bandwith limitation, per command authorization, virtual directories,
 dynamic ip changes auto-detection, etc.
 .
 It includes several authentication backends, is easily scriptable and provides
 a powerful event-driven system to extend server.
 .
 For more informations, see http://www.wzdftpd.net/

Package: wzdftpd-back-mysql
Architecture: any
Depends: ${shlibs:Depends}, wzdftpd (= ${Source-Version})
Suggests: mysql-server
Description: MySQL backend for wzdftpd
 This package provides the MySQL backend for wzdftpd.

Package: wzdftpd-back-pgsql
Architecture: any
Depends: ${shlibs:Depends}
Suggests: postgresql
Description: PostgreSQL backend for wzdftpd
 This package provides the PostgreSQL backend for wzdftpd.

Package: wzdftpd-mod-avahi
Architecture: any
Depends: ${shlibs:Depends}
Description: Zeroconf module for wzdftpd
 This package provides the necessary files to enable zeroconf support in
 wzdftpd, using the Avahi module.

Package: wzdftpd-mod-tcl
Architecture: any
Depends: ${shlibs:Depends}
Description: TCL module for wzdftpd
 This package provides the necessary files to run TCL plugins in wzdftpd,
 in the TCL module.

Package: wzdftpd-mod-perl
Architecture: any
Depends: ${shlibs:Depends}
Description: Perl module for wzdftpd
 This package provides the necessary files to run Perl plugins in wzdftpd,
 in the Perl module.

Package: wzdftpd-dev
Architecture: any
Depends: ${shlibs:Depends}, wzdftpd (= ${Source-Version})
Section: libdevel
Description: Development files for wzdftpd
 This package provides all needed files to develop extensions for wzdftpd.

