#!/bin/sh -e

# Source debconf library.
. /usr/share/debconf/confmodule

version_warning() {
  # make sure the user will actually see the note
  db_fset "wzdftpd/upgrade" seen false
  db_input "high" "wzdftpd/upgrade" || true
  db_go
}


version=$2

if [ -n "$version" ]; then
  if dpkg --compare-versions $version lt 0.6.0; then
    version_warning
  fi
fi

# Don't wait on wzdftpd to close file handles
db_stop

exit 0
